<h1>Search</h1>
<%= form_tag(bootcamps_path, method: "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Bootcamps" %>
  <%= submit_tag "Search Bootcamps"%>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Bootcamps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bootcamps.each do |bootcamp| %>
      <tr>
        <td><%= bootcamp.name %></td>
        <td><%= bootcamp.description %></td>
        <td><%= bootcamp.dates %></td>
        <td><%= link_to 'Show', bootcamp %></td>
        <td><%= link_to 'Edit', edit_bootcamp_path(bootcamp) %></td>
        <td><%= link_to 'Destroy', bootcamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bootcamp', new_bootcamp_path %>
