<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bootcamp.name %>
</p>

<p>
  <strong>RAWWWWWW Description:</strong>
  <%= raw @bootcamp.description %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @bootcamp.dates %>
</p>

<%= image_tag @bootcamp.avatar.url %>

<%= link_to 'Edit', edit_bootcamp_path(@bootcamp) %> |
<%= link_to 'Back', bootcamps_path %>
